[submodule "libraries/ConfigurableFirmata"]
	path = libraries/ConfigurableFirmata
	url = https://github.com/wamisnet/ConfigurableFirmata.git
[submodule "libraries/Nefry_ThingSpeak/src/include"]
	path = libraries/Nefry_ThingSpeak/src/include
	url=https://github.com/wamisnet/thingspeak-arduino.git
[submodule "libraries/TutorialBookExample"]
	path = libraries/TutorialBookExample
	url = https://github.com/Nefry-Community/TutorialExample.git
