[submodule "libraries/ConfigurableFirmata"]
	path = libraries/ConfigurableFirmata
	url = https://github.com/wamisnet/ConfigurableFirmata.git
[submodule "libraries/Nefry_ThingSpeak/src/include"]
	path = libraries/Nefry_ThingSpeak/src/include
	url=https://github.com/wamisnet/thingspeak-arduino.git
[submodule "libraries/BLE"]
	path = libraries/BLE
	url = https://github.com/nkolban/ESP32_BLE_Arduino.git

[submodule "libraries/TutorialBookExample"]
	path = libraries/TutorialBookExample
	url = https://github.com/Nefry-Community/TutorialExample.git
[submodule "libraries/AzureIoT"]
	path = libraries/AzureIoT
	url = https://github.com/VSChina/ESP32_AzureIoT_Arduino
[submodule "libraries/GoogleHomeNotifier"]
	path = libraries/GoogleHomeNotifier
	url = https://github.com/horihiro/esp8266-google-home-notifier.git
